spring:
  application:
    name: user-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/audition_db
    username: audition_user
    password: audition_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8082

jwt:
  secret: your-secret-key-should-be-at-least-256-bits-long-for-hs256-algorithm-change-in-production
  expiration: 86400000
