spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8082
        - id: audition-service
          uri: http://localhost:8081
        - id: media-service
          uri: http://localhost:8083
