server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=0
        
        - id: audition-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auditions/**
            - Path=/api/v1/applications/**
            - Path=/api/v1/offers/**
          filters:
            - StripPrefix=0
        
        - id: media-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/videos/**
          filters:
            - StripPrefix=0
      
      # CORS는 Java Config로 처리 (CorsConfig.java)

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    root: INFO
    com.audition.platform: DEBUG
