server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        # User Service
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=0
        
        # Audition Service
        - id: audition-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auditions/**, /api/v1/applications/**, /api/v1/offers/**
          filters:
            - StripPrefix=0
        
        # Media Service
        - id: media-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/videos/**
          filters:
            - StripPrefix=0
      
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
