server:
  port: ${PORT:8080}

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        # User Service
        - id: user-service
          uri: ${USER_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=0
        
        # Audition Service
        - id: audition-service
          uri: ${AUDITION_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/v1/auditions/**
            - Path=/api/v1/applications/**
            - Path=/api/v1/offers/**
          filters:
            - StripPrefix=0
        
        # Media Service
        - id: media-service
          uri: ${MEDIA_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/v1/videos/**
          filters:
            - StripPrefix=0
      
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    root: INFO
    com.audition.platform: INFO
